<% provide(:title, 'Contacto') %>
<h1>Contacto</h1>

<div class="row">
  <div class="span4">
    <input type="text" name="your-name" value="" placeholder="Nombre" size="40" />
    <input type="email" name="your-name" value="" placeholder="Casilla de correos" size="40" />
    <input type="text" name="your-name" value="" placeholder="Asunto" size="40" />
  </div>
  
  <div class="span6">
    <textarea cols="60" rows="10"> </textarea> 
  </div>

</div>