<footer class="footer">
  <small>
    2012 Fernando Muñoz
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de",   about_path   %></li>
      <li><%= link_to "Contacto",    contact_path %></li>
      <li><%= link_to "Noticias",    news_path    %></li>
    </ul>
  </nav>
</footer>