<div id="over" class="overbox">
	<div id="content">
	  <strong> Fernando Javier Muñoz </strong>
	  <br />
	  Nacido.<br /><br />
	  
	  <a href="javascript:hideLightbox();">Cerrar</a>
	</div>
</div>

<div id="fade" class="fadebox">&nbsp;</div>